.App {
  text-align: center;
}

.App-header {
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.car-agent-form{
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.car-agent-view {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  padding: 2%;
}

.form-input{
  margin-left:5px !important;
  margin-right:5px !important;
  width: 40%;
}

.row{
  display: flex;
  flex-direction: row;
  flex:0;
  padding-top: 6px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
